/*.meme {
	display: flex;
	flex-flow: column wrap;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	border-bottom: 4px solid rgba(51, 51, 204, 1);
}

.meme img {
	width: 200px;
	height: 280px;
}*/

.card:hover {
	transform: scale(1.01);
	box-shadow: 0 0 15px rgba(0,0,0,.7);
}

.meme-title {
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0px;
}

/*h1*/.title  {
	margin-top: 80px;
	font-family: 'Source Sans Pro', sans-serif;
	margin-bottom: 0px;
}

.title { 
	margin-left: 15px;
}

.meme-title {
	background-color: #eeeeee;
	padding: 10px;
}

img {
	max-height: 400px;
}

.card {
	margin: 0 0 15px 15px;
	border: 1px solid #343a40;
	border-radius: 0;
	height: 100%;
}

.row {
	padding: 15px;
}

.lead {
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 15px;
	font-size: 20px;
	margin-bottom: 0 !important;
}

/*meme-cards edit and delete buttons*/ .card-link {
	background-color: #f0b155;
	color: white !important;
	border: none;
	border-radius: .25rem;
	margin: 5px;
	height: 24px;
}

/*meme button background*/ .card-block {
	background-color: #eeeeee;
}

.card-link:hover {
	background-color: #eb9514;
	color: white !important;
	text-decoration: none;
}

.card-link:focus {
	background-color: #edab49;
	text-decoration: none;
}	

/*area at bottom of cards*/ .card-block {
	height: 100%;
}