h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	margin-left: 15px;
	margin-top: 80px;
	font-weight: bold;
}

/*p*/.lead {
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 15px;
	font-size: 20px;
	margin-bottom: 0 !important;
}

.row /*for each user*/ {
	padding: 15px;
}

h5.title-large {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	font-size: 27px;
}

h3.title-small {
	font-family: 'Source Sans Pro', sans-serif;
}

/*main cards*/.card.m-4 {
	border: 1px solid #343a40;
	border-radius: 0 !important;
	margin: 15px !important;
}

.meme-card:hover {
	transform: scale(1.01);
	box-shadow: 0 0 15px rgba(0,0,0,.7);
}

/*h5 for each user*/.card-title {
	font-family: 'Source Sans Pro', sans-serif;
}

/*h3*/ .meme-title {
	background-color: #eeeeee;
	margin-bottom: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 10px;
}

.card-header {
	border-bottom: 1px solid #343a40;
}

/*meme cards*/ div .card {
	border: 1px solid #343a40;
	border-radius: 0 !important;
	margin: 0 15px 15px 0;
	height: 100%;
}

/*for each main card*/ .col-12 {
	padding: 0;
}


div.card.portfolio-card.m-2 {
	height: auto;
	text-align: center;
}

div.card.portfolio-card.m-2:hover {
	transform: scale(1.01);
	box-shadow: 0 0 15px rgba(0,0,0,.7);
}

/*a*/.portfolio-link {
	color: black !important;
}

/*a*/.portfolio-link:hover {
	color: black !important;
	text-decoration: none;
}

.card-wrapper {
	overflow: visible;
	height: 100%;
	margin-bottom: 15px;
}