h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	margin-left: 15px;
	margin-top: 80px;
	font-weight: bold;
}

/*p*/.lead {
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 15px;
	font-size: 20px;
	margin-bottom: 0 !important;
}

.edit-on {
	display: flex;
	flex-flow: row;
}

/*main cards*/.card.m-4 {
	border: 1px solid #343a40;
	border-radius: 0 !important;
	margin: 15px !important;
}

/*h5*/.card-title {
	font-family: 'Source Sans Pro', sans-serif;
}

.card-header {
	border-bottom: 1px solid #343a40;
}

/*meme cards*/ div .card {
	border: 1px solid #343a40;
	border-radius: 0 !important;
	margin: 0 15px 15px 0;
	height: 100%;
}

button, #new-portfolio, #new-meme {
	background-color: #f0b155;
	color: white;
	border: none;
	border-radius: .25rem;
}

button:hover, #new-portfolio:hover, #new-meme:hover {
	background-color: #eb9514;
}

/*div*/.edit-on input {
	padding: 0 3px;
}

/*div*/.edit-on {
	height: 24px;
}

img {
	max-height: 400px;
}

/*inside saved memes*/ .row {
	padding: 15px;
}

/*for each main card*/ .col-12 {
	padding: 0;
}

/*meme-cards edit and delete buttons*/ .card-link {
	background-color: #f0b155;
	color: white !important;
	border: none;
	border-radius: .25rem;
	margin: 5px;
	height: 24px;
	cursor: pointer;
}

.card-link:hover {
	background-color: #eb9514;
	color: white !important;
}

/*h3*/ .meme-title {
	background-color: #eeeeee;
	margin-bottom: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 10px;
}

/*meme button background*/ .card-block {
	background-color: #eeeeee;
}

/* Portfolio Styles */

div.portfolio-card {
	width: 200px;
	height: 200px;
}

div.portfolio-card .img-holder {
	height: calc(200px - 55px);
}

div.portfolio {
	position: relative;
}

div.portfolio button.add-meme {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	cursor: pointer;
}

div.portfolio-card:hover,
div.meme-card:hover {
	transform: scale(1.01);
	box-shadow: 0 0 15px rgba(0,0,0,.7);
	cursor: pointer;
}

div#meme-picker {
	position: fixed;
	top: 100px;
	right: 0;
	width: 300px;
	height: 80%;
	background-color: #ddd;
	border: 1px solid #000;
	border-right-style: none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 10px;
}

div.scroll-window {
	height: 100%;
	width: 90%;
	overflow-y: scroll;
}

div.scroll-window div.meme-card {
	position: relative;
	width: 80%;
	height: 50%;
    max-height: 300px;
	margin: 10px 0;
}

div.meme-card img {
	width: 100%;
	height: 100%;
}